#!/bin/bash

set -e
set -u
set -o pipefail
set -x

[ -f "{{ config_env_file }}" ] && . "{{ config_env_file }}"

# Make sure the network config folder exists, and only root-accessible
mkdir -p "{{ network_config }}"
chmod 700 "{{ network_config }}"

# Setup the hostapd config file for the mgmt network if missing
if ! [ -f '{{ network_config }}/hostapd-mgmt.conf' ]; then
    cp /etc/hostapd.conf.defaults {{ network_config }}/hostapd-mgmt.conf
fi

echo 1 > /proc/sys/net/ipv4/ip_forward

while read NETWORK DEFAULT_IP NEEDS_DHCP; do
    net_addr_var="${NETWORK^^}_NETWORK_ADDR"
    bridge_ip="${!net_addr_var:-$DEFAULT_IP}"

    # create the bridge for the network, if missing
    # NOTE: We do not want to re-create bridges as they may be used by other services
    if [ ! -e /sys/class/net/$NETWORK ]; then
        ip link add $NETWORK type bridge
    fi

    # Set the IP address for the bridge
    ip addr flush dev $NETWORK
    ip addr add dev $NETWORK ${bridge_ip}/24
    ip link set $NETWORK up

    # Add a DHCP server on the network, if asked to
    if [ "$NEEDS_DHCP" == yes ]; then
        # Reserve the first 127 IPs for static devices
        base_addr=$(echo "$bridge_ip" | cut -d . -f 1-3)
        dhcp_range_start=${base_addr}.128
        dhcp_range_stop=${base_addr}.254

        dnsmasq -i $NETWORK -z --port 0 --dhcp-range $dhcp_range_start,$dhcp_range_stop,30d --conf-file=/dev/null --dhcp-authoritative --dhcp-leasefile="{{ network_config }}/$NETWORK.leases"
    fi
done <<'EOD'
    mgmt {{ mgmt_bridge_ip }} yes
    private {{ private_interface_ip }} no
EOD

# name sure the hostname can resolve on the gateway
printf "127.0.0.1\t{{ hostname }}\n" >> /etc/hosts

# Run our networking daemon that will attach interfaces to the right network at run time
export PYTHONUNBUFFERED=0
exec networkd --mgmt-static-alloc "${NET_MGMT_STATIC_ALLOC:-}"
