#!/bin/sh

set -eu

set_if_missing() {
	var="$1"
	value="$2"

	if grep -q "^${var}=" "{{ minio_env_file }}"; then
        echo "The variable ${var} is already set"
	else
        echo "Setting ${var} to '$value'"
        printf "%s=%s\n" "$var" "$value" >> "{{ minio_env_file }}"
	fi
}

mkdir -p "{{ minio_config }}"
touch "{{ minio_env_file }}"
chown -R minio:minio "{{ minio_config }}"
chmod -R 750 "{{ minio_config }}"

# Set all the default values
set_if_missing MINIO_ROOT_USER "{{ minio_root_user }}"
set_if_missing MINIO_ROOT_PASSWORD "$(tr -dc A-Za-z0-9 </dev/urandom | head -c 32)"

# TODO: Move these to a minio-configuration file
set_if_missing VALVETRACES_MINIO_PASSWORD "{{ valvetraces_minio_password }}"
set_if_missing VALVEFOSSILS_MINIO_PASSWORD "{{ valvefossils_minio_password }}"
