[Service]
ExecStartPre=/bin/sh -c "[ -f '{{ ssh_config_path }}/authorized_keys' ] || cp {{ default_ssh_authorized_keys }} {{ ssh_config_path }}/authorized_keys"
ExecStartPre=/bin/sh -c "[ -f '{{ ssh_config_path }}/sshd_config' ] || cp {{ default_sshd_config }} {{ ssh_config_path }}/sshd_config"
ExecStartPre=chmod -R g-rx,o-rx "{{ ssh_host_keys_path }}"
ExecStartPre=/usr/local/bin/setup-insecure-ssh

ExecStart=
ExecStart=/usr/sbin/sshd -D -f "{{ ssh_config_path }}/sshd_config"
