port={{dnsmasq_port}}
# don't use /etc/resolv.conf or /etc/hosts
no-resolv
no-hosts

interface=private
bind-interfaces

# useful for debug
log-queries

conf-dir=/etc/dnsmasq.d

{% for pair in dnsmasq_dns_hosts %}
address=/{{ pair["host"] }}/{{ pair["address"] }}
{% endfor %}
